# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/settings.json
.idea/

# Temp / Docs
*.doc
*.docx

# Typst build outputs
dist/
.typst/
*.pdf
!template/figures/*.pdf
template/duibi/
/CodeWhale
/.deepseek
/.codewhale
